html, body {
    margin: 0;
    height: 100%; /* Ensure full height */
    font-family: Arial, sans-serif;
    background-color: #1D2951 !important; /* Black with transparency */
    color: #1D2951;
  }
    
    .login-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .login-form {
      display: flex;
      flex-direction: column;
      width: 300px;
      padding: 20px;
      background-color: white; /* Form background color */
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .login-title {
      text-align: center;
      margin-bottom: 20px;
      color:#1D2951;
    }
    
    .login-label {
      margin-bottom: 8px;
      font-size: 14px;
    }
    
    
    .login-input {
      padding: 10px;
      margin-bottom: 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 14px;
    }
    
    .login-button {
      padding: 10px;
      background-color: #1D2951; /* Button color */
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 20px;
    }
    
    .login-button:hover {
      background-color: #003152; /* Hover effect */
    }
    
    .forgot-password-link {
      margin-top: 0px;
      text-align: right;
      color: #007bff;
     
      text-decoration: none;
      font-size: 14px;
      text-decoration: underline;
    }
  
    .register-link {
      display: block;
      margin-top: 16px;
      font-size: 0.9rem;
      color: #007bff;
      text-decoration: none;
    }
    
    .register-link:hover,
    .forgot-password-link:hover {
      text-decoration: underline;
    }