.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  position: relative; /* For absolute positioning of profile icon */
}

.profile-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.profile-icon {
  background-color: #ffffff; /* Profile icon background color */
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(217, 214, 214, 0.1);
  border-radius: 8px;
  width: 150px;
  padding: 10px;
  z-index: 10;
}

.dropdown-item {
  display: block;
  padding: 10px;
  color: #00796b;
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}

.dropdown-item:hover {
  background-color: #f5f5f5;
  border: #fdfdfd;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: -50px;
  height: 70px;
  width: 450px;
  gap: 15px;
}

.nav-button {
  background-color: #45467c;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.nav-button:hover {
  background-color: #292155;
}

.dashboard-card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  padding: 24px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.icon-container {
  background-color: #e0f7fa;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 28px;
  height: 28px;
  color: #00796b;
}

.title {
  margin-top: 10px;
  font-size: 24px;
}

.subtitle {
  color: #666;
  font-size: 14px;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-table th,
.dashboard-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  color: #333;
}

.dashboard-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.icon-inline {
  vertical-align: middle;
  margin-right: 6px;
}

.popup-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 800px;
    position: relative;
  }
  
  .popup-content h3 {
    color: #2e3f6e;
    margin-bottom: 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }