html, body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(0, 0, 0, 0.8); /* Black with transparency */
    color: #1D2951;
  }
  
  .forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 280px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .forgot-password-title {
    text-align: center;
    margin-bottom: 1px;
    color: #1D2951;
  }
  
  .forgot-password-instructions {
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
    color: #666666;
  }
  
 
  .forgot-password-button {
    padding: 10px;
    background-color: #1D2951;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    width: 80%;
    margin: 0 auto; 
  }
  
  .forgot-password-button:hover {
    background-color: #003152;
  }

  .input-container {
    position: relative;
    margin-bottom: 16px;
    width: 100%;
  }
  
  .input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #1d2951;
    font-size: 18px;
  }
  
  .forgot-password-input {
    width: 100%;
    padding: 10px 10px 10px 35px; /* Add padding to make space for the icon */
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    height: 40px; /* Ensure consistent height */
    box-sizing: border-box; /* Include padding and border in height */
    margin-bottom: 4px;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center the text */
  }
  .forgot-password-icon {
    margin-right: 8px;
    color: #1d2951;
  }